<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link  rel="icon" href="../../static/images/boom.png" type="image/x-icon">
      <link rel="stylesheet" href="../../static/css/stileAdmin.css">
    

    
    
   <title>Nerdando-Admin Update Authors</title> 
</head>
<body>
<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="font-effect-anaglyph"> Nerdando</div>
    <img src="../../static/images/boom.png" height="5%" width="5%">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav elenco">
			<li class="nav-item elenco-comics">
				<a class="nav-link" href="/admin/comics">Elenco Fumetti</a>
			</li>
			<li class="nav-item elenco-artisti">
				<a class="nav-link" href="/admin/artists">Elenco Artisti</a>
			</li>
			<li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
	<form th:action="@{/admin/searchComics}" method="post">
		<input class="cerca" type="text" th:value="${year}" name="year" id="year" placeholder="inserisci anno di uscita fumetto" required/>
		</form>
				
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item ml-auto" th:unless="${#request.userPrincipal}">
				<a class="nav-link" href="/login">Login</a>
			  </li>
			  <li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
				<span class="nav-link logged-as-text">Logged as: <span th:text="${#request.userPrincipal.name}"></span></span>
			  </li>
			  <li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
				<a class="nav-link" href="/logout">Logout</a>
			  </li>
			  <li class="nav-item ml-auto" th:unless="${#request.userPrincipal}">
				<a class="nav-link" href="/register">Register</a>
			  </li>
		</ul>
	  </div>
  </nav>
</header>





<div class="containerComicUpdate my-5 text-center">
    <h1>Autori del fumetto</h1>
    <div class="authors-list" th:if="${comic.authors.isEmpty()}">Non ci sono autori</div>
    <ul class="authors">
      <li th:each="author : ${comic.authors}">
        <span th:value="${author.id}" th:text="${author.name}+' '+${author.surname}"></span>
        <form th:action="@{'/admin/removeAuthorFromComic/'+${comic.id} +'/'+ ${author.id}}" method="post">
        <button class="btn" type="submit">Elimina autore</button>
     </form>	
      </li>
    </ul>
    <div>
		<h2>Autori che puoi aggiungere:</h2> 
		
		<form th:action="@{'/admin/addAuthorToComic/' + ${comic.id}}" method="post">
    <label for="authorId">Seleziona un Artista:</label>
    <select id="authorId" name="authorId">
        <option th:each="author : ${authorsToAdd}" th:value="${author.id}" th:text="${author.name} + ' ' + ${author.surname}"></option>
    </select>
    <button class="btn" type="submit">Aggiungi Artista</button>
</form>	
				
     <!--   <ul class="authors-to-add">
        <li th:each="author : ${authorsToAdd}">
          <span th:text="${author.name}+' '+${author.surname}"></span>
          	<div><a  th:href="@{'/admin/addAuthorToComic/'+ ${author.id}+ '/' + ${comic.id}}">Aggiungi autore</a></div>	
         <!--   <a th:href="@{'/admin/addAuthorToMovie/'+ ${author.id}+'/'+${comic.id}}">Aggiungi autore</a>-->
       <!--   </li>
      </ul>-->
    </div>
    <div>
      <a th:href="@{'/admin/formUpdateComic/'+ ${comic.id}}"><button type="button" class="btn2">Conferma</button></a>
    </div>
  </div>


<footer class="footer-update-authors">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" th:href="@{/}">
                    Home
              </a>
            </li>

        </ul>
    </footer>
	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    </body>

</html>