<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link  rel="icon" href="../../static/images/boom.png" type="image/x-icon">
      <link rel="stylesheet" href="../../static/css/stileAdmin.css">
    
   <title>Nerdando-Aggiorna Fumetto</title> 
</head>
<body>
<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="font-effect-anaglyph"> Nerdando</div>
    <img src="../../static/images/boom.png", height="5%", width="5%">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav elenco">
			<li class="nav-item elenco-comics">
				<a class="nav-link" href="/admin/comics">Elenco Fumetti</a>
			</li>
			<li class="nav-item elenco-artisti">
				<a class="nav-link" href="/admin/artists">Elenco Artisti</a>
			</li>
			<li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
				<a class="nav-link" href="/admin/formSearchComics">Ricerca Fumetti</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item ml-auto" th:unless="${#request.userPrincipal}">
				<a class="nav-link" href="/login">Login</a>
			  </li>
			  <li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
				<span class="nav-link logged-as-text">Logged as: <span th:text="${#request.userPrincipal.name}"></span></span>
			  </li>
			  <li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
				<a class="nav-link" href="/logout">Logout</a>
			  </li>
			  <li class="nav-item ml-auto" th:unless="${#request.userPrincipal}">
				<a class="nav-link" href="/register">Register</a>
			  </li>
		</ul>
	  </div>
  </nav>
</header>
<div class="containerComicUpdate my-5 text-center">
	<h1>Aggiorna fumetto</h1>
	<div th:if="${comic}">
		<div>
		
		
		 <span class ="comic-title" th:text="${comic.title} + '(' +${comic.year}+')'"><strong>Secret Wars</strong>(2022)</span>
        
        <ul>
        <li>
        <span th:text= " 'Genere: '+ ${comic.genre}">Genere: genre</span> 
        </li>
        <li>
        <span th:text= " 'Anno: '+ ${comic.genre}">Anno: 2021</span> 
        </li>
        <li>
        <span th:text= " 'Genere: '+ ${comic.genre}">Genere: genre</span> 
        </li>
        <li>
        <span th:text=" 'Casa editrice: '+${comic.publisher}">Casa editrice: publisher</span>
        </li>
    </ul>
		
		
		
		
		
		
		
		    <span th:text="${comic.image}">15€</span>
			<span th:text="${comic.name}">T-shirt oversize con stampa</span>
			<span th:text="'(' + ${comic.year} + ')'">15€</span>
			<span th:text=" ${comic.genre}">15€</span>
			<span th:text="  ${comic.resume}">15€</span>
			<span th:text="  ${comic.publisher}">15€</span>
      </div>
		</div>
		</div>

		<div class="containerArtistaUpdate my-5 text-center">
			<span class="artists-text">Artisti: </span>
			<div th:each="author: ${comic.author}">
			 <ul class="author-text">Autore:</ul>
				<span th:text="${comic.author.name} + ' ' + ${comic.author.surname} + '${comic.author.email}'">Giuseppe Viale Marconi,13 giuse70@gmail.com </span>
				
				<span><a th:href="@{'/admin/editArtist/' + ${comic.author.id}}">Modifica autori</a></span>
		</div>
		<div th:unless="${comic.author}">
			<a th:href="@{'/admin/addSupplier/' + ${comic.id}}">Aggiungi autori</a>
			
			<div th:each="comic.cartoonist: ${comic.cartoonists}">
			 <ul class="author-text">Disegnatori:</ul>
				<span th:text="${comic.cartoonist.name} + ' ' + ${comic.cartoonist.surname} + '${comic.comic.cartoonist.email}'">Giuseppe Viale Marconi,13 giuse70@gmail.com </span>
				
				<span><a th:href="@{'/admin/editArtist/' + ${comic.cartoonist.id}}">Modifica disegnatore</a></span>
		</div>
		<div th:unless="${comic.cartoonist}">
			<a th:href="'/admin/addSupplier/' + ${comic.id}">Aggiungi disegnatore</a>
			</div>
			<a th:href="@{'/admin/formUpdateComic/' + ${comic.id}}">
				<button type="button" class="btn">Modifica</button>
			</a>
		   </div>
		</div>
		<div th:unless="${comic}">Fumetto inesistente</div>
		
	 <footer class="footer">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" th:href="@{/}">
                    Home
              </a>
            </li>

        </ul>
    </footer>
	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    </body>

</html>