@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap&effect=anaglyph');
@import url('https://fonts.cdnfonts.com/css/comics');

.card-fiera {
  background-color: rgba(270, 200, 100, 0.8); /* Colore di sfondo con opacità */
  border: 2px solid rgba(0, 0, 0, 0.5); 
  width: 300px; 
  height: 200px; 
   overflow: auto; /* Abilita lo scorrimento quando il contenuto è troppo lungo */
  margin-bottom: 20px;
}
 .comic-title-card {
            font-size: 1.5rem;
        }
.container-exhibitions{
	padding-top:2em;
	padding-left:3em;
	padding-right:3em;
}
.card-fiera .card-header {
  background-color: rgba(270, 200, 100, 0.8); /* Colore di sfondo per l'heade della card */
}
.card-home {
            background-color: rgba(255, 200, 100, 1);
            border: 1px solid #dee2e6; /* Bordo */;
        }
div.font-effect-anaglyph {

	font-family: 'Poppins', sans-serif;
     font-size:60px;
     color: white;
}
.no-fumetti {
	padding-left:40em;
}
.custom-row{
	padding-right:8em;
	padding-left:9em;
border:1px solid black;
background-color: rgba(270, 200, 100, 0.8);
}
.custom-row:hover{
	background-color: rgba(255, 200, 100, 1);
}
header {
  position: fixed; /* headerposizione fissa  */
  top: 0; /*  l'header in alto nella pagina */
  width: 100%; 
  z-index: 1000; 
  opacity: 0;
	   transition: opacity 0.5s ease-in-out;
   
}
body{
	cursor: url("../images/pokeball.png"), auto;
	font-family:cursive;
	background-image: url("../images/background.jpg");
	background-position:center;
	 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*  fissa l'immagine di sfondo durante lo scrolling */
    margin: 0; /* Rimuove i margini predefiniti del body */
	padding-top:2em;
	 padding-bottom: 8em;
	 z-index: 1;
	  opacity: 0;
	   transition: opacity 0.5s ease-in-out;
}


h1,h2,h3,h5{
	font-family: 'Comics', sans-serif;
	color: #000000;
	
}

.cerca{
	margin-top:5px;
}

textarea{
    width: 200px; 
    height: 100px; 
    border-radius: 8px; 
    resize: none; 
	
}

.aggiorna-fumetto{
    text-align: center;
    margin-top: 50px; /* Regola il margine superiore a tuo piacimento */
    justify-content:center;
    margin-left:40px;
}
.artists{
	margin-top:20px;
	padding-right:8em;
	padding-left:8em;
}
.fumetti-scritti{
	padding-right:2em;
}
.authors{
	padding-right:2em;
}
.authors-update-comic{
	padding-top:2em;
}
.autore{
	padding-right:2em;
}
.autori-up{
	margin-left:30px;
	margin-top:20px;
}
.fumetti{
    text-align: center;
    margin-top: 50px; 
}

 .btn{
 display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .btn:hover,
  .btn:focus {
  background-color: #2980b9;
  transform: scale(1.05);
}

 .btn2{
 display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .btn2:hover,
  .btn2:focus {
  background-color: #cc0000;
  transform: scale(1.05);
}

li{
	list-style:none;
} 
    input {
        border-radius: 5px 5px 5px 5px; /*  angoli arrotondati */
  }
    label {
    font-weight:bold;
        display: inline-block;
        width: 100px; 
        text-align: right; 
        margin-right: 10px; 
        padding: 5px; 
}
    
    .comic-title-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;  /*  spazio inferiore tra il titolo e il paragrafo */
    font-weight:bold;
}        
 footer{
 transition: opacity 0.5s ease-in-out;
 padding-top: 3em;
    opacity: 1; /* Imposta l'opacità a 1 per renderlo visibile */
    z-index: 1000;
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #282828;
    min-height: 50px;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }   
        .menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            flex-wrap: wrap;
            gap: 10px;
        }
        
        .menu__item {
            list-style: none;
        }
        
        
        .menu__link {
            font-size: 1.2rem;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
            text-decoration: none;
            opacity: 0.75;
            font-weight: 300;
        }
        
        .menu__link:hover {
            opacity: 1;
        }
        
        .comic-image{
          width: 250px; 
          height: 300px;
          border: 1px solid #ccc; /* Bordo del box */
          padding: 10px; /* Spazio interno del box */
          margin: 60px auto 0px; 
          display:flex;
          align-items:center;
          transition:border-width 0.3s;
        }
        .comic-image:hover {
        border-width: 5px; /* Cambia la larghezza del bordo al passaggio del mouse */
        }
        .comic-image img{
          max-width: 100%; 
         max-height: 100%; 
        }
        
        .authors-update-comic{
            margin-bottom:125px;
        }
        
        .container-index-admin{
        text-transform: uppercase;
        font-size:16px;
        line-height:30px;
        }
        
      
     
       
 
   .search-comics-admin{
   margin-top: 100px;
   }
   .indexClasse{
   margin-top: 100px;
     font-size:16px;
        line-height:30px;
   }
   
.trama-block-update {
	display:flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:25%;
    margin-right:25%;
}
 .lista-fumetti {
            margin-top:50px;
            display: flex; 
            flex-wrap: wrap; /*  andare a capo quando raggiungono la fine della linea.*/
            gap: 20px;/* spazio di 20 pixel tra gli elementi figli*/
            margin-left: 30px;
            margin-right:0px;
            padding-left: 6em;
        }

        .card {
            height:300px;
            width: 200px;
            border: 1px solid #ddd; /*bordo*/
            border-radius: 8px; 
            overflow: hidden;   /*Nasconde  contenuti che potrebbero fuoriuscire dalla cards.*/
            transition: transform 0.3s ease-in-out; /*Aggiunge un'animazione di transizione che viene utilizzata quando il cursore 
                                                   si posiziona su una card.*/
           display: flex; 
          flex-direction: column; /*  direzione dei figli come colonna */
                                                   
        }

        .card:hover {
            transform: scale(1.05); /*effetto di ingrandimento.*/
        }

        .card img {
            width: 100%;
            height: auto; /*aspetto proporzionato dell'immagine.*/
        }

        .card-content {
            padding: 15px; /* spazio interno  */
        }

        h3, p {
            margin: 0; 
        }

     
     .update-comic-button,.elimina-comic{
     padding-top:1em;
     }      
.comments-by-users li{
	padding-right:5px;
}
.comments-container .comments-by-users li {
    word-wrap: break-word; /* Fa andare a capo i commenti lunghi */
}
.comments-container {
	background-color: rgba(270, 200, 100, 0.8);
    border: 2px solid #ccc; 
    border-radius: 5px; 
    overflow-x: auto; /* lo scrolling orizzontale  */
    overflow-y: auto;
    max-width: 300px; 
    margin: 0 auto; 
  text-align: center; 
    padding: 5px; 

}
  .user-commento{
	padding-right:2em;
}
  .containerArtistaFumetti,.comment-section{
padding-top:3em;
   }
   .elimina-commento{
	color:red;
	font-weight:bold;
}
   
   
