@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap&effect=anaglyph');
@import url('https://fonts.cdnfonts.com/css/comics');



.containerComicHome{
	padding-right:2em;
}
.card-fiera {
  background-color: rgba(270, 200, 100, 0.8); /* Colore di sfondo con opacità */
  border: 2px solid rgba(0, 0, 0, 0.5); /* Bordo colorato */
  width: 300px; 
  height: 200px; 
   overflow: auto; /* lo scorrimento quando il contenuto è troppo lungo */
  margin-bottom: 20px;
}
 .comic-title-card {
            font-size: 1.5rem;
        }
.container-exhibitions{
	padding-top:2em;
	padding-left:3em;
	padding-right:3em;
}
.card-fiera .card-header {
  background-color: rgba(270, 200, 100, 0.8); /* Colore di sfondo per l'header */
}
.card-home {
            background-color: rgba(255, 200, 100, 1);
            border: 1px solid black; 
        }
.autore{
	padding-right:2em;
}
.fumetti-scritti{
	padding-right:2em;
}
span.comic-title{
	color:red;
}
div.font-effect-anaglyph {

	font-family: 'Poppins', sans-serif;
     font-size:60px;
     color: white;
}
header {
  position: fixed; /* header posizione fissa  */
  top: 0; /* header in alto nella pagina */
  width: 100%; 
  z-index: 1000; 
}

.caption h5{
	  font-family: 'Comics', sans-serif;
	color: #000000;
	margin-top:50px;
}

  

    .artist-row {
    display: block;
    text-decoration: none;
    color: inherit; /* per mantenere il colore del testo predefinito */
}

.artist-row:hover {
    background-color: #f0f0f0; /* Cambia il colore di sfondo al passaggio del mouse */
}
.custom-row{
border:1px solid black;
background-color: rgba(270, 200, 100, 0.8);
}
.custom-row:hover{
	background-color: rgba(255, 200, 100, 1);
}
.cerca{
	margin-top:5px;
}
textarea{
   width: 200px; 
    height: 30px; 
    border-radius: 8px; 
    resize: none; /*  impedire il ridimensionamento della textarea da parte dell'utente */
	
}
.commento-text-area {
   width: 200px; 
    height: 30px; 
    border-radius: 8px; /* il raggio del bordo  */
   overflow:auto;
}
.commento{
	padding-bottom:2em;
}
h1,h2,h3,h5{
	font-family: 'Comics', sans-serif;
	color: #000000;
	
}

    .comic-title-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;  /* Aggiunge uno spazio inferiore tra il titolo e il paragrafo */
    font-weight:bold;
}
.pagina-registrazione, .pagina-login{
    font-family:cursive;
	background-image: url("../images/sfondo-reg.jpg");
	background-position:center;
	 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* fissa l'immagine di sfondo durante lo scrolling */
    margin: 0; /* Rimuove i margini predefiniti del body */
	padding-top:2em;
	 padding-bottom: 8em;
	 z-index: 1;
	  opacity: 0;
	   transition: opacity 0.5s ease-in-out;
}
body{
	padding-top:2em;
	font-family:cursive;
	background-image: url("../images/background.jpg");
	background-position:center;
	 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*  fissa l'immagine di sfondo durante lo scrolling */
    margin: 0; /* Rimuove i margini predefiniti del body */
	padding-top:2em;
	 padding-bottom: 8em;
	 z-index: 1;
	  opacity: 0;
	   transition: opacity 0.5s ease-in-out;
}

.fumetti{
	margin-top:50px;
	flex-direction: column;
	text-align: center;
}


.register-btn{
	margin-left:200px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
 .btn{
 display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .register-btn:focus,
  .register-btn:hover,
  .btn:hover,
  .btn:focus {
  background-color: #2980b9;
  transform: scale(1.05);
}

 .btn2{
 display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none; /* Rimuove la bordatura predefinita sul focus */
}
  .btn2:hover,
  .btn2:focus {
  background-color: #cc0000;
  transform: scale(1.05);
}





/*footer*/
footer{
 transition: opacity 0.5s ease-in-out;
 padding-top: 3em;
    opacity: 1; /* Imposta l'opacità a 1 per renderlo visibile */
    z-index: 1000;
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #282828;
    min-height: 50px;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }   


        
        .menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            flex-wrap: wrap;
            gap: 10px;
        }
        
        .menu__item {
            list-style: none;
        }
        
        
        .menu__link {
            font-size: 1.2rem;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
            text-decoration: none;
            opacity: 0.75;
            font-weight: 300;
        }
        
        .menu__link:hover {
            opacity: 1;
        }
        
     /*pagina comic*/
        .comic-image{
          width: 250px; 
          height: 300px; 
          border: 1px solid #ccc; /* Bordo del box */
          padding: 10px; /* Spazio interno del box */
       margin: 30px auto; 
          display:flex;
          align-items:center;
          justify-content:center;
          transition:border-width 0.3s;
        }
        .comic-image:hover {
        border-width: 5px; /* Cambia la larghezza del bordo al passaggio del mouse */
        }
       
        
  .list-artists{
  margin-top:20px;
	padding-left:8em;
	padding-right:8em;
  }
      
        .container-login-suc {
          display:inline-block;
          color:black;
          font-size:16px;
          text-decoration:none;
          text-transform: uppercase;
          overflow: hidden;
          margin: auto;
        }
        .Congratulazioni{
           text-decoration: underline; /* Aggiunge una sottolineatura */
    text-decoration-color: red; /* Colore della sottolineatura */
}
li{
	list-style:none;
} 

    input {
        border-radius: 5px 5px 5px 5px; /*  angoli arrotondati  */
        transition: background-color 0.3s, color 0.3s; 
        
  }
  input:hover {
     background-color: rgba(128, 128, 128, 0.5);
     color: #fff;
  }
    label {
     font-weight:bold;
        display: inline-block;
        width: 100px; 
        text-align: right; /* Allinea il testo a destra */
        margin-right: 10px; /* Aggiunge un margine destro per separare le etichette dagli input */
        padding: 5px; 
}
.comment-section{
	
	align-items:center;
	margin-bottom:100px;
	text-align:center;
	padding-top:3em;
	
}
.comments-by-users li{
	padding-right:5px;
}
.comments-container .comments-by-users li {
    word-wrap: break-word; /* Fa andare a capo i commenti lunghi */
}
.comments-container {
	background-color: rgba(270, 200, 100, 0.8);
    border: 2px solid #ccc; 
    border-radius: 5px; 
    overflow-x: auto; /* Abilita lo scrolling orizzontale  */
    overflow-y: auto;
    max-width: 300px; 
    margin: 0 auto; /* Centra il container dei commenti orizzontalmente */
  text-align: center; /* Centra il testo all'interno del container */
    padding: 5px; /* Spazio interno al container dei commenti */

}
.user-commento{
	padding-right:2em;
}
.add-comment{
	padding-top:3em;
}



     
   .lista-fumetti {
            margin-top:50px;
            display: flex; 
            flex-wrap: wrap; /* elementi figli vanno a capo quando raggiungono la fine della linea.*/
            gap: 20px;/*spazio di 20 pixel tra gli elementi figli*/
            margin-left: 30px;
            margin-right:0px;
           
             padding-left: 6em;
        }

        .card {
                                      
            height:300px;
            width: 200px;
            border: 1px solid #ddd; /* un bordo .*/
            border-radius: 8px; /* bordo arrotondato*/
            overflow: hidden;   /*contenuti che potrebbero fuoriuscire dalla cards.*/
            transition: transform 0.3s ease-in-out; /*Aggiunge un'animazione di transizione che viene utilizzata quando il cursore 
                                                   si posiziona su una card.*/
           display: flex; 
          flex-direction: column; 
                                                   
                                              
        }

        .card:hover {
            transform: scale(1.05); /* trasformazione di scala al 105% quando il cursore è posizionato sulla card.*/
        }

      

        .card-content {
            padding: 15px; /*Aggiunge uno spazio interno */
        }

        h3, p {
            margin: 0; /*Rimuove  margini predefiniti  all'interno delle cards.*/
        }

