<!DOCTYPE html>
<html>
<head>
	<title>Cerca Prodotti</title>
	<link rel="stylesheet" href="/css/stile.css" />
		   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="icon" href="/images/box_icon.ico" type="image/x-icon">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/#">Amazein</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav elenco">
			<li class="nav-item elenco-film">
				<a class="nav-link" href="/productsDefaultUser">Elenco Prodotti</a>
			</li>
			<li class="nav-item elenco-artisti">
				<a class="nav-link" href="/product">Elenco Produttori</a>
			</li>
			<li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
				<a class="nav-link" href="/formSearchProducts">Ricerca Prodotti</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item ml-auto" th:unless="${#request.userPrincipal}">
				<a class="nav-link" href="/login">Login</a>
			  </li>
			  <li class="nav-item ml-auto" th:if="${#request.userPrincipal}">
				<a class="nav-link" href="/logout">Logout</a>
			  </li>
			  <li class="nav-item ml-auto" th:unless="${#request.userPrincipal}">
				<a class="nav-link" href="/register">Register</a>
			  </li>
		</ul>
	  </div>
</nav>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Cerca prodotti per nome</h1>
	<form th:action="@{/searchProducts}" method="post">
		<div>Nome: <input type="text" th:value="${name}" name="name" />
		</div>
		<div><input type="submit" /></div>
	</form>
	<div>
		<h2>Cerca prodotto per fornitore</h2>
	<form th:action="@{/searchMovies}" method="post">
		<div>Fornitore: <input type="text" th:value="${supplier}" name="supplier" />
		</div>
		<div><input type="submit" /></div>
	</form>
	 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   
</body>

</html>